@media screen and (max-width: 480px) {
  .detail-section {
    max-width: 100%;
    max-height: 100%;
    &__container {
      align-items: center;
    }
    & ul {
      display: flex;
      flex-direction: column;
      gap: 30px;
    }
  }
  .responsive-img {
    display: block;
    max-width: 100%;
    height: auto;
  }
  .work-container__items,
  .image-items {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .customers-container ul {
    max-width: 480px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 0;
    margin: 30px 15px 0 15px;
  }
  .customers-container {
    padding: 0;
    margin: 60px auto;
  }

  .header-address {
    display: none;
  }

  .container.header-text {
    max-width: 100%;
    height: 60px;
    justify-content: space-between;
  }
  .header-text {
    gap: 32px;

    &__nav {
      display: none;
      &.is-open {
        overflow: hidden;
        max-width: 100%;
        height: 100%;
        transform: scale(1);
        transition-duration: 250ms;
        transition-timing-function: linear;
        margin: auto;
        z-index: 1;
        .header-text__nav.is-hidden {
          transform: scale(0);
          background-color: var(--white);
          position: absolute;
          opacity: 0;
          pointer-events: none;
          visibility: hidden;
        }
        display: flex;
        flex-direction: column;
        background-color: white;
        position: fixed;
        top: 0px;
        left: 0;

        .header-text__menu {
          display: flex;
          flex-direction: column;
          gap: 32px;
          &-item {
            max-width: 100%;
          }
        }
        .header-address {
          display: flex;
          flex-direction: column-reverse;
          padding-top: 306px;
          align-items: flex-start;
          margin: 0;
          padding-left: 93px;
          padding-right: 167px;
        }
        .header-contacts {
          justify-content: flex-start;
          & svg {
            display: none;
          }
          &__mail {
            font-family: "Roboto";
            font-style: normal;
            font-weight: 500;
            font-size: 24px;
            line-height: 28px;
            letter-spacing: 0.02em;
            color: #757575;
            &:hover {
              color: #2196f3;
            }
          }
          &__tel {
            font-family: "Roboto";
            font-style: normal;
            font-weight: 500;
            font-size: 34px;
            line-height: 40px;
            letter-spacing: 0.02em;
            color: #2196f3;
          }
        }
        .header-social {
          display: flex;
          gap: 10px;
          padding-bottom: 48px;
          padding-top: 64px;
          &__items a {
            font-family: "Roboto";
            font-style: normal;
            font-weight: 500;
            font-size: 18px;
            line-height: 1.22;
            letter-spacing: 0.02em;
            color: #2196f3;
            text-decoration: none;
            display: flex;
            & span {
              padding-left: 10px;
              color: #afb1b8;
              transform: scale(0.5, 1.5);
              display: inline-block;
            }
          }
        }
      }
    }
  }
  .header-text__menu {
    padding-top: 48px;
    gap: 32px;
    max-width: fit-content;
    a {
      font-family: "Roboto";
      font-style: normal;
      font-weight: 500;
      font-size: 40px;
      line-height: 47px;
      letter-spacing: 0.02em;
      color: #212121;
      border-bottom: none;
      padding: 0;
      &.active,
      &:hover,
      &:focus {
        border-bottom: none;
        padding: 0;
      }
    }
  }
  /* Footer */
  .footer-container.container {
    display: block;
    max-width: fit-content;
  }
  .social-section {
    flex-direction: column;
    width: auto;
    gap: 30px;
  }
  .subscribe-form {
    flex-direction: column;
    align-items: center;
  }
  .contacts,
  .address {
    align-items: center;
  }
  .footer-text {
    display: flex;
    justify-content: center;
  }
  .subscribe-button {
    margin-bottom: 60px;
  }
  .modal {
    max-width: 90%;
    &__container {
      max-width: 90%;
    }
    & textarea {
      width: auto;
    }
  }

  /* Portfolio */
  .products-section {
    max-width: 80%;
    margin-left: 15px;
    &__list {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
    }
  }
  .portfolio-list {
    display: flex;
    flex-direction: column;
  }
}
