.style {
  border-bottom: 1px solid #ececec;
  margin: 0 10px 0 15px;
}
a.active {
  color: var(--blue);
}

.container.header-text {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  background: var(--white);
  color: black;
  width: inherit;
  height: 80px;
  align-items: center;
  display: flex;
  height: 80px;
  width: 1200px;
  margin: auto;
}

.header-text {
  &__menu {
    display: flex;
    gap: 50px;
    padding: 0;
    margin-left: 93px;
  }
  &__nav {
    display: flex;
  }
}

.header-text__menu a {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: #212121;
  &:hover,
  &:focus,
  &.active {
    border-bottom: 4px solid var(--blue);
    padding-bottom: 28px;
    border-radius: 2px;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 250ms;
    color: var(--blue);
    cursor: pointer;
  }
}

.header-address {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 40px;
  margin-left: 250px;
  padding-inline-start: 0;
}
.header-contacts {
  display: flex;
  gap: 40px;
  a {
    gap: 10px;
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: #757575;
    &:hover {
      color: #2196f3;
    }
  }
}
